@import "../../common/styles/Sass/mixins";


.pictureContainer {
  margin-top: 50px;
  height: 500px;
  width: 400px;
  border: black 1px solid;
  @include flex(row, center, center, wrap);

  .picture {
    border: black 1px solid;
    height: 150px;
    width: 150px;
    @include flex(column, space-between, space-between, wrap);
  }

  .button {
    right: 180px;
    margin-top: 350px;
  }

  .field {
    right: 80px;
  }
}